<div class="col-md-12">
  <h4>Hero List</h4>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        
        <th scope="col" style="min-width: 150px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes">
        <th scope="row">{{hero.id}}</th>
        <td><b>{{hero.name}}</b></td>
        <td>
          <button type="button" class="btn btn-danger" routerLink="/detail/{{hero.id}}">Edit</button>
          <button type="button" class="btn btn-warning" (click)="deleteHero(hero.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!-- no need to attach the component as we route the displayed heroes. -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

